body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 54px;
  background-color: #000000;
  color: #ffffff;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

::-moz-selection {
  color: #fff;
  background:#ffc1073b;
}

::selection {
  color: #fff;
  background:#ffc1073b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  user-select: none;
}

h1 {
  font-size: 3rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
  color: #ffc107;
}

.my-top {
  height: 10rem !important;
}

.my-thumb {
  width: 2rem !important;
  height: 2rem !important;
}

.my-carousel {
  height: 24rem !important;
  width: 16rem !important;
  margin-left: 6rem !important;
}

.card {
  transition: 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  z-index: 99;
}

.bg-primary {
  background-color: #ffc107 !important;
}

.text-primary {
  color: #ffc107 !important;
}

a {
  color: #ffc107;
}

a:hover,
a:focus,
a:active {
  color: #f4d06f;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

li {
  list-style-type: square;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
}

.social-nav-item {
  margin-top: 0.5rem;
}

.social-icons a,
.social-icons-home a {
  display: inline-block;
  height: 2rem;
  width: 2.5rem;
  background-color: #ffffff;
  color: #000000 !important;
  border-radius: 4px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2rem;
  transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.social-icons-home a {
  margin-right: 0.5rem;
}

.social-icons a:last-child,
.social-icons-home a:last-child {
  margin-right: 0;
}

.social-icons a:hover,
.social-icons-home a:hover {
  background-color: #ffc107;
  color: #000000 !important;
}

.dev-icons {
  font-size: 1.2rem;
}

.badge-primary {
  background-color: #ffc107;
  color: #000000;
}

.text-black {
  color: #000000;
}

.btn-primary,
.btn-outline-primary {
  color: #000000 !important;
  border-color: #000000 !important;
  background-color: #ffc107 !important;
}

.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #ffc107 !important;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #ffffff;
}

#sideNav {
  box-shadow: 0px 5px 1px 1px #ffc107;
}

#profile {
  border-radius: 4px;
  border: 1px solid #000000;
  width: 50px !important;
  height: 50px !important;
}

@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
    line-height: 5.5rem;
  }
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
    box-shadow: 5px 0px 1px 1px #ffc107;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.2rem solid #ffc107;
    border-radius: 10px;
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
  #profile {
    width: 200px !important;
    height: 200px !important;
  }
  .social-nav-item {
    margin-top: 3.5rem;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
  .social-icons-home{
    margin-top: 0 !important;
    text-align: left !important;
  }
  .hover-me{
    text-align: left !important;
  }
  .btn-home-center{
    text-align: left !important;
  }
  .nv-font{
    font-size: 1.2rem !important;
  }
  .my-ac-top{
    height: 8rem !important;
  }
}

.social-icons-home{
  margin-top: 2rem;
  text-align: center;
}

.btn-home-center{
  text-align: center;
}

.hover-me{
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  user-select: none;
  text-align: center;
}
.hover-me:hover{
  transform: scaleY(1.2);
}

.alert-success{
    color: #000000;
    background-color: #ffc107;
    border-color: #f4d06f;
}

.alert-danger{
  color: #fff;
  background-color: crimson;
  border-color: #f1f1f1;
}

.nv-font{
  font-size: 1rem;
  cursor: pointer;
}

.my-ac-top{
  height: 10rem !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color: #000000;
  background-color: #ffc107;
}